<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="h-8 w-8" src="http://localhost:9000/static/workflow-mark-indigo-500.svg" alt="Workflow">
                </div>
                <div class="  md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Blocks</a>
                     </div>
                </div>
                <div class="  md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="/transfer" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Transfer</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">Blocks</a>

         </div>

    </div>
</nav>